nonebot~=1.8.0
nonebot[scheduler]
requests~=2.24.0
zhdate~=0.1
sqlalchemy~=1.3.20
mysqlclient~=2.0.1
aiocqhttp~=1.3.1
bs4~=0.0.1
lxml~=4.6.0
Pillow~=8.0.0
beautifulsoup4~=4.9.3
Jinja2~=2.11.2
aiohttp~=3.6.3
xlwt~=1.3.0
ujson~=4.0.1
msgpack~=1.0.0